<html>
<body>
<h1>User Registration</h1>	
<form method="post" >
      <label>FirstName</label><input type="text" ng-model="user.firstname" placeholder="firstname" />
      <label>LastName</label><input type="text" ng-model="user.lastname" placeholder="lastname" />
      <label>Email</label><input type="text" ng-model="user.email" placeholder="email" />
      <label>Address Line1</label><input type="text" ng-model="user.address" placeholder="address" /><br>
      <label>Address Line2</label><input type="text" ng-model="user.address" placeholder="address" />
      <label>Address Line3</label><input type="text" ng-model="user.address" placeholder="address" />
      <label>Institute</label><input type="text" ng-model="user.institute" placeholder="institute" /><br>
      <label>Country</label><select ng-model="user.country">
  <option value="USA">USA</option>
  <option value="Germany">Germany</option>
  <option value="Brazil">Brazil</option>
  <option value="Haiti">Haiti</option>
  <option value="Slutland">Slutland</option>
      </select>
      <label>State</label><select ng-model="user.state">
  <option value="Hessen">Hessen</option>
  <option value="Bremen">Bremen</option>
  <option value="Bavaria">Bavaria</option>
  <option value="Rhineland">Rhineland</option>
  <option value="Berlin">Berlin</option>
      </select><br>
      
      <label>City</label><select ng-model="user.city">
  <option value="Darmstadt">Darmstadt</option>
  <option value="Dieburg">Dieburg</option>
  <option value="Frankfurt">Frankfurt</option>
  <option value="Gros Umstadt">Gros Umstadt</option>
  <option value="Heidelberg">Heidelberg</option>
      </select><br>
      <button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
      
</form>
</body>
</html>
