<p>This is the partial for view 1.</p>




<button ng-click="get()"> get </button>
<button ng-click="post()"> post </button>

<form method="post" >
      <input type="text" ng-model="formData.title" placeholder="Enter title" />
      <input type="text" ng-model="formData.authors" placeholder="Enter authors" />
      <input type="text" ng-model="formData.abstract" placeholder="Enter abstract" />
      <input type="text" ng-model="formData.keywords" placeholder="Enter keywords" />
      <input type="text" ng-model="formData.filename" placeholder="Enter filename" />
      <input type="text" ng-model="formData.last_name" placeholder="Enter last_name" />
      <input type="text" ng-model="formData.status" placeholder="Enter status" />
      <input type="text" ng-model="formData.conferenceId" placeholder="Enter conferenceId" />
      <input type="text" ng-model="formData.username" placeholder="Enter username" />

      <button type="submit" class="btn btn-primary" ng-click="addMySub()">Submit</button>
      <button type="submit" class="btn btn-primary" ng-click="getMySubs()">Get Sub</button>
</form>
<form method="POST" enctype="multipart/form-data" action="uploadFile">
                <input type="text" name="textfield"><br />
                <input type="file" name="filefield"><br />
                <input type="submit">
</form>

//Add new topic
<form method="post" >
      <input type="text" ng-model="formData._id" placeholder="Enter id" />
      <input type="text" ng-model="formData.topic" placeholder="Enter topic" />
      <input type="text" ng-model="formData.sub_status" placeholder="Enter submission status" />
      <input type="text" ng-model="formData.review_status" placeholder="Enter review status" />
      <input type="text" ng-model="formData.chair" placeholder="Enter chaiperson id" />
      <input type="text" ng-model="formData.detail" placeholder="Enter detail" />
      <input type="text" ng-model="formData.sub_start_date" placeholder="Enter sub start date" />
      <input type="text" ng-model="formData.sub_end_date" placeholder="Enter sub end date" />
      <input type="text" ng-model="formData.review_start_date" placeholder="Enter rev start date" />
      <input type="text" ng-model="formData.review_end_date" placeholder="Enter rev end date" />

      <button type="submit" class="btn btn-primary" ng-click="addTopic()">Submit</button>
      <button type="submit" class="btn btn-primary" ng-click="getAllTopics()">Get All Conferences</button>
<button type="submit" class="btn btn-primary" ng-click="getAllSubmissions()">Get All Submissions</button>
</form>
