<html>
<form method="get" >
  <button type="submit" class="btn btn-primary" ng-click="getMySubmissions()">Get all my Submission</button><br>
  <label>Submission Status:</label>
  <select ng-model="submission.status" >
    <option value="option-1">All</option>
    <option value="option-2">Open</option>
  </select><br>
</form>
<h3>Select Submission topic to Open/Edit</h3>
<table>
  <tr></tr>
  </table
  <form method="post" >
    <button type="submit" class="btn btn-primary" ng-click="addMySub()">Add Submission</button><br>
    <div ng-repeat="submission in mySubmissions track by submission.id">
      <input type="checkbox" ng-model="submission.id" ng-true-value="'NO'" ng-false-value="'NO'">
      {{submission.title}}
    </div><br>
    <button type="submit" class="btn btn-primary" ng-click="openMySub()">Open to View </button>
    <button type="submit" class="btn btn-primary" ng-click="withdrawMySub()">Withdraw Submission</button>
    <button type="submit" class="btn btn-primary" ng-click="editMySub()">Edit Submission</button>
  </form>
  </html>
